<div id="about-wrapper">
	<div id="about">
		<h1>About us</h1>
		<div id="about-content">
			<div class="about-section">
				<h2>What is Cafe Oakville?</h2>
				<p>
				The ideal place to study, chill, and play. It's a cafe so friendly,
				it feels like a home!
				</p>
			</div>

			<div class="about-section">
				<h2>Where is Cafe Oakville?</h2>
				<p>
				Because this is a special offering not yet available to the public, 
				we have chosen to disclose our address on an individual basis rather 
				than by this invitational email. Please do ask us for our address 
				directly if you are interested in coming!
				</p>
			</div>
			<div class="about-section">
				<h2>Parking</h2>
				<p>
				Street sweeping is in between 12:30pm and 3:00pm, so don't park on 
				the wrong side of the street!
				</p>
			</div>
			<div class="about-section">
				<h2>Our hours</h2>
				<p>
				Most Saturdays, generally from 10am - 4pm. We will post our schedule in advance on the site. 
				Dinner offsite and post-dinner festivities are possibilities.	
				</p>
			</div>
		</div>
	</div>
</div>
