<div id="activities-content">
	<h1>Activities</h1>
	<p>Sorry, this page is under construction. But for now, here's a list of things you can do:</p>
	<ul>
		<li>Study it up at our extendable table space</li>
		<li>Enjoy a friendly game of Catan or chess</li>
		<li>Watch a show/movie on our starry flatscreen TV</li>
		<li>Relax to some live music (provided by you)</li>
		<li>Hang out with cool people... and Keith</li>
		<li>Get golfing lessons from a pro (schedule dependent)!</li>
	</ul>
	<p>At this time, studying takes priority, so come to work!</p>
</div>
