<nav id="main-nav">
	<ul>
		<li class="selected"><%= link_to "HOME", root_path %></li>
		<li><%= link_to "MENU", menu_path %></li>
		<li><%= link_to "MISSION", '#' %></li>
		<li><%= link_to "ABOUT US", '#' %></li>
	</ul>
</nav>

<section id="main">
  <article>
		<h1>Why come to Cafe Oakville?</h1>
		<p>
			<br>- Study it up at our extendable table space,<br>- enjoy a friendly
			game of Catan or chess, <br>- watch a show/movie on our starry
			flatscreen TV, <br>- relax to some live music (provided by you),
			work out, <br>- or get golfing lessons from a pro (schedule
			dependent)!
		</p>
	</article>
</section>
