<% provide(:title, 'Menu') %>

<nav id="main-nav">
	<ul>
		<li><%= link_to "HOME", root_path %></li>
		<li class="selected"><%= link_to "MENU", menu_path %></li>
		<li><%= link_to "MISSION", '#' %></li>
		<li><%= link_to "ABOUT US", '#' %></li>
	</ul>
</nav>

<div id="content">
	<section id="menu">
		<h1>Menu</h1>
		<div id="menu-container">
			<ul>
				<li>Coffee<span class="price">Free</span><span class="dots">. . . . . . . . . . . </span></li>
				<li>Tea<span class="price">Free</span><span class="dots">. . . . . . . . . . . . . </span></li>
				<li>Cereal<span class="price">Free</span><span class="dots">. . . . . . . . . . .</span></li>
				<li>Fruit<span class="price">Free</span><span class="dots">. . . . . . . . . . . .</span></li>
				<li>Haribos<span class="price">Priceless</span><span class="dots">. . . . . .</span></li>
			</ul>
		</div>
	</section>
</div>
