@import "bootstrap-sprockets";
@import "bootstrap";


/* fonts */

@font-face {
	font-family:					montserrat;
	src:									font-url('Montserrat/Montserrat-Regular.ttf');
}

@font-face {
	font-family:					montserrat;
	src:									font-url('Montserrat/Montserrat-Bold.ttf');
	font-weight:					bold;
}

@font-face {
	font-family:					chelsea-market;
	src:									font-url('ChelseaMarket-Regular.ttf');
}

@font-face {
	font-family:					aaargh;
	src:									font-url('Aaargh.ttf');
}

@font-face {
	font-family:					folks;
	src:									font-url('Folks/Folks-Normal.ttf');
}

@font-face {
	font-family:					cabin;
	src:									font-url('Cabin/Cabin-Regular.otf');
}

@font-face {
	font-family:					sanchez-regular;
	src:									font-url('Sanchezregular.otf');
}

/* mixins, variables, etc. */

@mixin box_sizing {
	-moz-box-sizing:			border-box;
	-webkit-box-sizing:		border-box;
	box-sizing:						border-box;
}

$off-white: 						#fdfdf0;
$dusty-rose:						#e9a79d;

$granny-smith-apple:		#a8e4a0;
$dark-sea-green:				#8fbc8f;
$zerply:								#9dcc7a;
$string-green:					#82923a;
$forest-green:					#566435;
$mantis:								#74c365;
$button-green:					#8bc262;

$wood-brown:						#c19a6b;
$pale-brown:						#987654;
$chamoisee:							#a0785a;
$chestnut:							#954535;
$red-orange:						#ea6550;
$vivid-auburn:					#922724;
$fall-brown:						#c28359;
$dark-brown-orange:			#4c2600;

$grenadier:							#c13100;

$rusty:									#b44f1f;
$fall-orange:						#fa9a54;
$tawny:									#cc6600;

$fall-gold:							#ffbd32;

$periwinkle:						#a8b2eb;



/* body */

* {
	margin:								0px;
}


body {
	color:								white;
	width:								100%;
	height:								100%;
	margin:								0px auto 0px auto;
	font-family:					chelsea-market;
	background-color: 		$chamoisee;
	background-image: url(http://www.transparenttextures.com/patterns/45-degree-fabric-dark.png);
	/*background-image: url(http://www.transparenttextures.com/patterns/45-degree-fabric-light.png);*/
	/*background-image: url(http://www.transparenttextures.com/patterns/dark-wood.png);*/
	/*background-image: url(http://www.transparenttextures.com/patterns/tree-bark.png);*/
	/*background-image: url(http://www.transparenttextures.com/patterns/nasty-fabric.png);*/
	/*background-color:			#4c2600;*/
	/*background:						image-url('fall-drawing.jpg');*/

}

#main-content {
	width: 1000px;
	height: 750px;
	margin: 0px auto;
	background-color: $chamoisee;
	background-image: url(http://www.transparenttextures.com/patterns/45-degree-fabric-dark.png);
}


/* main header */

header#top {
	padding:							30px 15px;
	width:								900px;
	margin:								0px auto 0 auto;
}

header#top h1 {
	font-size:						300%;
	text-align:						center;
}



/* main-nav */

#main-nav {
	width:								900px;
	margin:								0px auto;
	text-align:						center;
	padding:							0px;
}

#main-nav ul {
	margin:								0px;
	list-style-type:			none;
	border:								solid 2px;
	background-color:			white;
	display:							table;
	-webkit-padding-start:0px;
	width:								900px;
	border-radius:				5px;

}

#main-nav ul li {
	display:							table-cell;
	margin:								0px 2px;
	border-radius:				5px;
}

#main-nav ul li a {
	display: 							block;
	padding:							5px 0px;
	width:								100%;
	height:								100%;
}

#main-nav ul li.selected {
	background-color: #90963f;
	background-image: url(http://www.transparenttextures.com/patterns/blizzard.png);
}

#main-nav ul li.selected a:visited {
	background-color:			$zerply;
	color:								white;
	display:							block;
}

#main-nav ul li a:link, #main-nav ul li a:visited {
	text-decoration:			none;
	font-weight:					bold;
	font-size:						.9em;
	color:								$chamoisee;
	/*color:								white;*/
	display:							block;
}



/* content */

#content {
	width:								900px;
	height:								600px;
	margin:								0px auto 50px auto;
	padding-top:					20px;

}

#content h1 {
	text-align:						center;
	margin:								0px 0px 20px 0px;
	font-size:						200%;
	padding-top:					30px;
}

#content a, #content a:visited {
	/*color:								#97a3da;*/
	/*color:								#db9e45;*/
	color:								#e3741e;
}

#content h2 {
	font-size:						150%;
}


/* users */

#all-users, #show-user, #all-events {
	margin:								0px 50px;
	p, ul {
		font-size:					125%;
		font-family:				sanchez-regular;
	}
}

.users, .events {
	list-style:						none;
	-webkit-padding-start:0;
}

.users li, .events .date-section {
	overflow:							auto;
	margin:								20px 0px 5px 0px;
}

.event-user-list {
	margin:								0;
	li {
		font-size:					.7em;
	}
}

/* home page */ 

#home article p {
	font-family:					chelsea-market;
	font-size:						1.2em;
	line-height:					1.4em;
	width:								490px;
	margin:								0px auto;
}



/* menu */

#menu-container {
	display:							table;
	margin-top:						-22px;
	width:								900px;
	position:							relative;
}

.table-row {
	display:							table-row;
}

.cell {
	display:							table-cell;
	width:								450px;
	position: 						relative;
	font-size: 						150%;
}

#breakfast {
	border: solid white 2px;
}

#lunch {
	border-top: solid white 2px;
	border-right: solid white 2px;
	border-bottom: solid white 2px;
}

#snacks {
	border-left: solid white 2px;
	border-bottom: solid white 2px;
	border-right: solid white 2px;
}

#drinks {
	border-right: solid white 2px;
	border-bottom: solid white 2px;
}


.menu-title {
	position: absolute;
	top: 38%;
	width: 100%;
	text-align: center;
	color: white;
}

#menu {
	position: absolute;
}

#menu-title-oval {
	position: absolute;
	top: 37.5%;
	left: 38.5%;
	width: 200px;
	height: 100px;
	background: #B1484D;
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
	border: solid 2px white;
	font-family: sanchez-regular;

	h2, p {
		text-align: center;
	}

	h2 {
		padding-top: 8px;
	}
}


/*
section#menu {
	font-family:					chelsea-market;
	margin:								0px;
}


div#menu-container ul {
	padding:							0px;
	list-style-type:			none;
	width:								220px;
	margin:								0px auto;
}

div#menu-container ul li {
	padding:							10px 0px;
	margin:								0px auto;
}

#breakfast h2, #lunch h2, #beverages h2 {
	text-align:						center;
	margin:								20px 0px 0px 0px;	
}

#breakfast, #lunch, #beverages {
	line-height:					.8em;
}

#breakfast, #beverages {
}

#breakfast {
	margin:								0px 50px 30px 140px;
	float:								left;
}

#lunch {
	float:								left;
	margin:								0px 50px 20px 140px;
}

#beverages {
	margin:							  0px 140px 0px 50px;
	float:								right;
}

#breakfast ul, #lunch ul, #beverages ul {
	font-size:						1.2em;
}


span.dots {
	float:								right;
}

span.price {
	float:								right;
	margin-left:					.5em;
}

*/

/* about */

#about-wrapper {
	width:								100%;
	height:								100%;
	background-image:			image-url('IMG_7102.JPG');
	margin-top:						-22px;
	border-radius:				5px;
	border:								solid 2px;

	#about {
		position:						relative;
		width:							450px;
		margin:							0px auto;
		padding-top:				20px;

		h1 {
			text-align:				center;
			margin-top:				50px;
		}

		#about-content {
			margin-top:				50px;
			padding:					10px;
			background-color: rgba(0, 0, 0, 0.3);
			border-radius:		10px;

			p {
				font-family:			aaargh;
			}
		}
	}
}


/* forms */

#sign-up {
	margin:								0px;
}

form {
	/*width:								280px;*/
	width:								100%;
	margin:								0px auto 0px auto;
}

input, textarea, select, .uneditable-input {
	border: 							0px solid #bbb;
	width: 								100%;
	margin-bottom: 				15px;
	font-size:						.9em;
	font-family:					sans-serif;
}

input {
	height: 							auto !important;
	border-radius:				5px;
	font-size:						.9em;
	padding:							3px 3px 1px 3px !important;
	margin-top:						3px;
	color:								black;
}

input:focus, textarea:focus{
	outline:							none;
}

.btn {
	font-family:					chelsea-market;
	background-color:			#90963f;
	border:								solid 1px #90963f;
	border-radius:				5px;
	float:								none;
	margin:								5px 0px;
	color:								white;
	background-image: url(http://www.transparenttextures.com/patterns/blizzard.png);
}

.btn:hover {
	background-color:			$button-green;
	border:								solid 1px $button-green;
	cursor:								pointer;
}

#error_explanation {
}

#error_explanation ul {
	color:								$state-danger-text;
	padding-left:					12px;
}

.field_with_errors {
	@extend .has-error;
}

.field_with_errors .form-control {
	color:								$state-danger-text;
}

.checkbox {
	margin-top:						-10px;
	margin-bottom:				10px;
	span {
		margin-left:				20px;
		font-weight:				normal;
	}
}

#session_remember_me {
	width:								auto;
	margin-left:					0;
}



/* carousel */

#home-carousel {
	margin:								-22px 0px 0px 0px;
	border:								solid;
	border-width:					2px;
	border-radius:				5px;


	img {
		border-radius: 5px;
	}
}



.carousel-control.left, .carousel-control.right {
	background-image: 		none;
}

.caption {
	position: absolute;

	h2 {
		font-family: aaargh;
		margin: 10px 0px 0px 0px;
		line-height: 32px;
	}
}

.caption-left {
	top: 5%;
	left: 5%;
}

.caption-right {
	top: 5%;
	right: 10%;
}

.caption-bottom-left {
	bottom: 15%;
	left: 5%;
}

.caption-narrow {
	width: 33%;
}

.carousel-fade {
  .carousel-inner {
    .item {
      opacity: 0;
      transition-property: opacity;
    }

    .active {
      opacity: 1;
    }

    .active.left, .active.right {
      left: 0;
      opacity: 0;
      z-index: 1;
    }

    .next.left, .prev.right {
      opacity: 1;
    }
  }

  .carousel-control {
    z-index: 2;
  }
}


/* footer */

footer {
	vertical-align:				baseline;
	width:								100%;
	clear:								both;
}



/* miscellaneous */

.debug_dump {
	clear:								both;
	float:								left;
	width:								100%;
	margin-top:						45px;
	@include box_sizing;
}
