@import "bootstrap-sprockets";
@import "bootstrap";


/* fonts */

@font-face {
	font-family:					montserrat;
	src:									font-url('Montserrat-Regular.ttf');
}

@font-face {
	font-family:					montserrat;
	src:									font-url('Montserrat-Bold.ttf');
	font-weight:					bold;
}

@font-face {
	font-family:					chelsea-market;
	src:									font-url('ChelseaMarket-Regular.ttf');
}

/* mixins, variables, etc. */

@mixin box_sizing {
	-moz-box-sizing:			border-box;
	-webkit-box-sizing:		border-box;
	box-sizing:						border-box;
}

$off-white: 						#fdfdf0;
$dusty-rose:						#e9a79d;

$granny-smith-apple:		#a8e4a0;
$dark-sea-green:				#8fbc8f;
$zerply:								#9dcc7a;
$string-green:					#82923a;
$forest-green:					#566435;
$mantis:								#74c365;

$wood-brown:						#c19a6b;
$pale-brown:						#987654;
$chamoisee:							#a0785a;
$chestnut:							#954535;
$rusty:									#b44f1f;
$red-orange:						#ea6550;


/* content */

* {
	margin:								0px;
}

body {
	color:								white;
	width:								100%;
	height:								100%;
	margin:								0px auto 0px auto;
	font-family:					chelsea-market;
	background-color:			$dusty-rose;
}

header#top {
	padding:							30px 15px;
	margin-top:						25px;
	/*background-color:			rgba($pumpkin-orange, .75);*/
}

header#top h1 {
	font-size:						300%;
	text-align:						center;
}

#main-nav {
	width:								900px;
	margin:								0px auto;
	text-align:						center;
	padding:							0px;
}

#main-nav ul {
	margin:								0px;
	list-style-type:			none;
	border:								solid 2px;
	background-color:			white;
	display:							table;
	-webkit-padding-start:0px;
	width:								900px;
	border-radius:				5px;
}

#main-nav ul li {
	display:							table-cell;
	margin:								0px 2px;
	border-radius:				5px;
}

#main-nav ul li a {
	display: 							block;
	padding:							5px 0px;
	width:								100%;
	height:								100%;
}

#main-nav ul li.selected {
	background-color: 		$zerply;
}

#main-nav ul li.selected a:visited {
	background-color:			$zerply;
	color:								white;
	display:							block;
}

#main-nav ul li a:link, #main-nav ul li a:visited {
	text-decoration:			none;
	font-weight:					bold;
	font-size:						.9em;
	color:								$dusty-rose;
	display:							block;
}

section#menu {
	font-family:					chelsea-market;
	margin:								0px;
}


div#menu-container ul {
	padding:							0px;
	list-style-type:			none;
	width:								250px;
	margin:								0px auto;
}

div#menu-container ul li {
	padding:							10px 0px;
	margin:								0px auto;
}

#breakfast h2, #lunch h2, #beverages h2 {
	text-align:						center;
	margin:								40px 0px 0px 0px;	
}

#breakfast, #lunch, #beverages {
	line-height:					.8em;
}

#breakfast, #beverages {
}

#breakfast {
	margin:								0px 50px 30px 110px;
	float:								left;
}

#lunch {
	float:								left;
	margin:								0px 50px 20px 110px;
}

#beverages {
	margin:							  0px 110px 0px 50px;
	float:								right;
}

#breakfast ul, #lunch ul, #beverages ul {
	font-size:						1.2em;
}


span.dots {
	float:								right;
}

span.price {
	float:								right;
	margin-left:					.5em;
}


#home article p {
	font-family:					chelsea-market;
	font-size:						1.2em;
	line-height:					1.4em;
	width:								490px;
	margin:								0px auto;
}

#content {
	width:								900px;
	height:								auto;
	margin:								0px auto 50px auto;
	padding-top:					20px;
}

#content h1 {
	text-align:						center;
	margin:								0px 0px 20px 0px;
	font-size:						200%;
	padding-top:					30px;
}

#content h2 {
	font-size:						150%;
}



/* footer */

footer {
	vertical-align:				baseline;
	width:								100%;
	clear:								both;
}

/* forms */

#sign-up {
	margin:								0px;
}


input, textarea, select, .uneditable-input {
	border: 							0px solid #bbb;
	width: 								100%;
	margin-bottom: 				15px;
	font-size:						.9em;
	font-family:					sans-serif;
}

input {
	height: 							auto !important;
	border-radius:				5px;
	font-size:						.9em;
	padding:							3px 3px 1px 3px !important;
	margin-top:						3px;
	color:								black;
}

input:focus, textarea:focus{
	outline:							none;
	box-shadow:						0 0 1px 1px navy;
}

.btn {
	font-family:					chelsea-market;
	background-color:			$mantis;
	border:								solid 1px $string-green;
	border-radius:				5px;
	float:								none;
	margin:								5px 0px;
	color:								white;
}

.btn:hover {
	background-color:			$zerply;
	border:								solid 1px $string-green;
	cursor:								pointer;
}

#error_explanation {
}

#error_explanation ul {
	color:								$state-danger-text;
	padding-left:					12px;
}

.field_with_errors {
	@extend .has-error;
}

.field_with_errors .form-control {
	color:								$state-danger-text;
}



/* miscellaneous */

.debug_dump {
	clear:								both;
	float:								left;
	width:								100%;
	margin-top:						45px;
	@include box_sizing;
}
