<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title><%= full_title(yield(:title)) %></title>
		<link type="text/css" rel="stylesheet" href="oakville.css">
	</head>
	<body>
		<header id="top">
			<h1>Cafe Oakville</h1>
		</header>

		<nav id="main-nav">
			<ul>
				<li class="selected"><a href="index.html">HOME</a></li>
				<li><a href="menu.html">MENU</a></li>
				<li><a href="">MISSION</a></li>
				<li><a href="">ABOUT US</a></li>
			</ul>
		</nav>

		<%= yield %>

	</body>
</html>
